<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779836204660-5msp9csv8gtiaupd0k4mpmub5llrsh18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779836204660-5msp9csv8gtiaupd0k4mpmub5llrsh18</string>
	<key>API_KEY</key>
	<string>AIzaSyCdh1CWn9ydAvoo8q2fyuz8TlgtSdb0A4s</string>
	<key>GCM_SENDER_ID</key>
	<string>779836204660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-93146</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-93146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779836204660:ios:27b324b70383b61c211321</string>
</dict>
</plist>